.error {
  color: #FF0000;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;

}

.btn:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

body {
  background-image: url("../images/homebg.jpg");
  background-repeat: no-repeat;
  background-position: right top;

}

form {

  position: relative;
  top: 40%;
  left: 50%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform: translate(50%, 30%);


  padding: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  text-align: left;
  font-family: Source Sans Pro;
  border-radius: 4px;
}
.form-control .success {
  display: none;
  color: rgb(31, 194, 31);
}

.form-control .error {
  display: none;
  color: rgb(236, 40, 40);
}

.border-color {
  border: 1px solid #f02849;
}
.err-msg2 {
  color: #f02849;
}

.err-msg {
  display: none;
  color: #f02849;
  font-size: small;
  font-weight: 400;
  margin-top: 5px;
}